@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);

/*CSS в Реакте не хочет грузить бэкграунд из public, ругается на это. Поэтому добавил в src/components, оттуда грузит нормально*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    background-image: url(components/Background.jpg);
    background-repeat: repeat;
    color: rgb(66, 66, 66);
}


/****Navbar****/

.navbar {
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translate(-50%, -50%);
}

.navbarButton1 {
    display: inline-block;
    margin: 1em;
}

.navbarButton2 {
    display: inline-block;
    margin: 1em;
}

.navbarButton3 {
    display: inline-block;
    margin: 1em;
}

.navbarButton4 {
    display: inline-block;
    margin: 1em;
}

.navbar a {
    display: inline-block;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
    font-size: 1.3em;
}

.navbar a:hover {
    font-weight: bold;
}


/****WheelCheckArea****/

.WheelCheckArea {
    text-align: center;
    position: absolute;
    padding: 17em;
    padding-left: 36em;
    padding-right: 36em;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
}

#WheelUp.active {
    transform: scale(1.1);
    filter: saturate(18)
}

#WheelDown.active {
    transform: scale(1.1);
    filter: saturate(18)
}









