@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);

/*CSS в Реакте не хочет грузить бэкграунд из public, ругается на это. Поэтому добавил в src/components, оттуда грузит нормально*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    background-image: url(components/Background.jpg);
    background-repeat: repeat;
    color: rgb(66, 66, 66);
}


/****Navbar****/

.navBar {
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.navBar a {
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 1.3em;
}

.navBarText {
    padding-top: 1em;
    font-size: 1.1em;
}
.navBar a:hover {
    font-weight: bold;
}

/****WheelCheckArea****/

.WheelCheckArea {
    padding-right: 21em;
    padding-left: 21em;
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    opacity: 85%;
}

#Wheel {
    /*width: 100%;*/
    content: url("components/mouse.png");
}

#Wheel.Up {
    content: url("components/mouseUp.png");
}

#Wheel.Down {
    content: url("components/mouseDown.png");
}

.WheelPreload1 {
    content: url("components/mouseUp.png");
    opacity: 0;
    width: 0;
    height: 0;
}

.WheelPreload2 {
    content: url("components/mouseDown.png");
    opacity: 0;
    width: 0;
    height: 0;
}










